# Ignore macOS system files
.DS_Store

# Bytecode
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.env/
params/norm_params/HUNT4/normalization_params_STFT_feats156_seqlen599/